<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>UP Distribuidora | Açaí Concept</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <div>
            <h1>Dias de Entrega</h1>
            <table>
                <thead>
                    <tr>
                        <th>Para o pedido entrar na rota de</th>
                        <th>O e-mail deve chegar antes das</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Segunda a tarde</td>
                        <td>10h da Segunda</td>
                    </tr>
                    <tr>
                        <td>Quarta</td>
                        <td>17h da Terça</td>
                    </tr>
                    <tr>
                        <td>Sábado</td>
                        <td>17h da Sexta</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h1>Estoque e Preços</h1>
            <table>
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th>Estoque</th>
                    </tr>
                </thead>
                <tbody id="info-produtos">
                    
                </tbody>
            </table>
        </div>
    </body>
</html>